<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8"/>
    <title>Metronic | Form Tools</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../../assets/global/plugins/typeahead/typeahead.css">

    <link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">

    <link href="../../assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="favicon.ico"/>
</head>
</head>

<body>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title"></div>
            <div class="portlet-body form">
                <form action="javascript:;" id="form-username" class="form-horizontal form-bordered">
            <div class="form-group ">
                        <label class="col-sm-3 control-label">Multiple Sections with Headers</label>
                        <div class="col-sm-4">
                            <div class="input-group">
											<span class="input-group-addon">
											<i class="fa fa-check"></i>
											</span>
                                <input type="text" id="typeahead_example_4" name="typeahead_example_4" class="form-control"/>
                            </div>
                            <p class="help-block">
                                Two datasets that are prefetched, stored, and searched on the client. Highlighting is enabled.
                            </p>
                        </div>

                       </div>

                   </form>
                </div>
             </div>
        </div>
    </div>


</body>


<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>

<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<script src="../../assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>

<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>

<script src="../../assets/admin/pages/scripts/components-form-tools.js"></script>

<script>
    jQuery(document).ready(function() {

        ComponentsFormTools.init();
    });
</script>

</body>

</html>